<div class="container-fluid pt-5 pb-3 dlaczego" id="2">
  <div class="container pt-3">
    <div class="row">
      <div class="col d-flex align-items-center flex-column">
        <h1>Dlaczego PRODUKT?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="../../images/loader.gif" data-src="../../images/esseliv-left.png" class="img-fluid display_detect" alt="esseliv-left">
      </div>
      <div class="col-xs-12 col-sm-6 d-flex justify-content-center flex-column">
        <p><i class="fas fa-square mr-3 fontawesome-mid"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <p><i class="fas fa-circle mr-3 fontawesome-mid"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <p><i class="fas fa-play mr-3 fontawesome-mid"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <p><i class="fas fa-star mr-3 fontawesome-mid"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex align-items-center flex-column">
        <button type="button" name="button" href="#3" class="btn btn-outline-secondary mb-3 smooth-scroll"><a href="#3" class="smooth-scroll">czytaj więcej</a></button>
        <h3 class="dalej"><a href="#3" class="smooth-scroll"><i class="far fa-arrow-alt-circle-down"></i></a></h3>
      </div>
    </div>
  </div>
</div>
