<div class="container-fluid dlaczego pt-5 pb-3 poniewaz" id="3">
  <div class="container pt-3">
    <div class="row">
      <div class="col-xs-12 col-sm-6 d-flex justify-content-center flex-column">
        <h1>Ponieważ!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h1>NOWOŚĆ!</h1>
        <img src="../../images/line_white.png" class="img-fluid" alt="line_white">
        <img src="../../images/loader.gif" data-src="../../images/tabletki.png" class="img-fluid tabletki display_detect" alt="esseliv-left">
      </div>
    </div>
  </div>
</div>
