<div class="container-fluid pt-5 pb-3 sklad" id="4">
  <div class="container pt-3">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center flex-column">
        <h1>Skład produktu</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="../../images/loader.gif" data-src="../../images/esseliv-left.png" class="img-fluid display_detect" alt="esseliv-left">
      </div>
      <div class="col-xs-12 col-sm-6 d-flex justify-content-center flex-column">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" name="button" class="btn btn-outline-secondary btn-lg">POBIERZ ULOTKĘ</button>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <h1><a href="#1" class="smooth-scroll"><i class="fas fa-arrow-alt-circle-up dalej"></i></a></h1>
    </div>
  </div>
</div>
