<div class="container-fluid pt-5 pb-3 dlaczego" id="2">
  <div class="container pt-3">
    <div class="row">
      <div class="col d-flex align-items-center flex-column">
        <h1>Dlaczego MARKA?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 d-flex justify-content-center align-items-end flex-column">
        <h1>Dlaczego PRODUKT 1?</h1>
        <ul class="list-unstyled">
          <li class="d-flex align-items-center mb-3">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </div>
            <div>
              <i class="fas fa-square ml-4 fontawesome-mid"></i>
            </div>
          </li>
          <li class="d-flex align-items-center mb-3">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </div>
            <div class="">
              <i class="fas fa-circle ml-4 fontawesome-mid"></i>
            </div>
          </li>
          <li class="d-flex align-items-center mb-3">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </div>
            <div class="">
              <i class="fas fa-star ml-4 fontawesome-mid"></i>
            </div>
          </li>
          <li class="d-flex align-items-center mb-3">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </div>
            <div class="">
              <i class="fas fa-play ml-4 fontawesome-mid"></i>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="../../images/loader.gif" data-src="../../images/SYROP.png" class="img-fluid display_detect" alt="esseliv-left">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="../../images/loader.gif" data-src="../../images/TABLETKI.png" class="img-fluid display_detect" alt="esseliv-left">
      </div>
      <div class="col-xs-12 col-sm-6 d-flex justify-content-center flex-column">
        <h1>Dlaczego PRODUKT 2?</h1>
        <ul class="pl-0 list-unstyled">
          <li class="d-flex align-items-center mb-3">
            <div>
              <i class="fas fa-square mr-3 fontawesome-mid"></i>
            </div>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </div>
          </li>
          <li class="d-flex align-items-center mb-3">
            <div>
              <i class="fas fa-circle mr-3 fontawesome-mid"></i>
            </div>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </div>
          </li>
          <li class="d-flex align-items-center mb-3">
            <div>
              <i class="fas fa-star mr-3 fontawesome-mid"></i>
            </div>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </div>
          </li>
          <li class="d-flex align-items-center mb-3">
            <div>
              <i class="fas fa-play mr-3 fontawesome-mid"></i>
            </div>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
