<div class="container-fluid pt-5 pb-3" id="3">
  <div class="container pt-3">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <h1>Co wyróżnia produkty (RTB)</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="row mb-3">
          <div class="col-xs-12 col-sm-6 colg-lg-4 mt-2 d-flex justify-content-center">
            <button type="button" name="button" class="btn btn-outline-light px-5">TABLETKI</button>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4 mt-2 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-light px-5">SYROP</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 text-right nowosc">
        <h1>NOWOŚĆ!</h1>
        <img src="../../images/line_white.png" class="img-fluid scalex" alt="line_white">
        <img src="../../images/loader.gif" data-src="../../images/powiazane_packi.png" class="img-fluid display_detect" alt="paczki">
      </div>
    </div>

    <div class="row mb-4 specs">
      <div class="col-xs-4 col-sm-2">
        <p><img src="../../images/vectorsmart1.png" class="img-fluid" alt="star"></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="col-xs-4 col-sm-2">
        <p><img src="../../images/vectorsmart2.png" class="img-fluid" alt="star"></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
      <div class="col-xs-4 col-sm-2">
        <p><img src="../../images/vectorsmart3.png" class="img-fluid" alt="star"></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      </div>
    </div>
  </div>
</div>
