<div class="container-fluid pt-5 pb-3 dlaczego" id="2">
  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="col-12 col-sm-3 mr-4">
        <img src="../../images/loader.gif" data-src="../../images/img.png" class="img-fluid display_detect" alt="img">
      </div>
      <div class="col-12 col-sm-7">
        <h1>Dlaczego PRODUKT? (USP)</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6 col-sm-4">
        <h3>Subheader</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-6 col-sm-4">
        <h3>Subheader</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-12 col-sm-4">
        <h3>Subheader</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <h1>Ponieważ - zalety (RTB)</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="col-6">
        <img src="../../images/loader.gif" data-src="../../images/packi_pion.png" class="d-block d-sm-none packi_mobile display_detect" alt="pion">
      </div>
    </div>
  </div>
</div>
