<div class="container-fluid waski text-white pt-5 pb-3" id="waski">
  <div class="container pt-3">
    <div class="row">
      <div class="col-12 col-sm-9 col-md-8 d-flex mb-5">
        <div class="row">
          <div class="col-12 col-sm-2 col-md-3 mb-3">
            <div class="row d-flex justify-content-center align-items-center">
              <div>
                <i class="far fa-circle mr-1 fontawesome_big"></i>
              </div>
              <div class="text-center">
                <span>Lorem ipsum dolor sit amet</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 mb-3">
            <div class="row d-flex justify-content-center align-items-center">
              <div>
                <i class="far fa-square mr-1 fontawesome_big"></i>
              </div>
              <div class="text-center">
                <span>Lorem ipsum dolor sit amet</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 mb-3">
            <div class="row d-flex justify-content-center align-items-center">
              <div>
                <i class="far fa-star mr-1 fontawesome_big"></i>
              </div>
              <div class="text-center">
                <span>Lorem ipsum dolor sit amet</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-3 mb-3">
            <div class="row d-flex justify-content-center align-items-center">
              <div>
                <i class="far fa-check-circle mr-1 fontawesome_big"></i>
              </div>
              <div class="text-center">
                <span>Lorem ipsum dolor sit amet</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-md-4 d-none d-sm-block">
        <img data-src="../../images/packi_pion.png" class="packi_pion display_detect" alt="pion">
      </div>
    </div>
  </div>
</div>
