<div class="container-fluid pt-5 pb-3 text-white sklad" id="4">
  <div class="container pt-3 pb-5">
    <div class="row mb-4">
      <div class="col-12 col-sm-6">
        <h1>Skład produktu</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-6 col-lg-4">
            <ul class="pl-0 list-unstyled">
              <li>lorem ipsum dolor</li>
              <li>lorem ipsum dolor</li>
              <li>lorem ipsum dolor</li>
              <li>lorem ipsum dolor</li>
              <li>lorem ipsum dolor</li>
              <li>lorem ipsum dolor</li>
              <li>lorem ipsum dolor</li>
            </ul>
          </div>
          <div class="col-6">
            <div class="progress mt-2">
              <div class="progress-bar bg-white" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mt-3">
              <div class="progress-bar bg-white" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mt-3">
              <div class="progress-bar bg-white" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mt-3">
              <div class="progress-bar bg-white" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mt-3">
              <div class="progress-bar bg-white" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mt-3">
              <div class="progress-bar bg-white" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress mt-3">
              <div class="progress-bar bg-white" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img data-src="../../images/tuba_pack.png" class="img-fluid tuba_pack display_detect" alt="tuba_pack">
  </div>
</div>
