<div class="container-fluid pb-3 powitalny" id="powitalny">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5  d-flex justify-content-center flex-column">
        <h2>Subheader</h2>
        <h1>HEADLINE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <div class="row d-flex justify-content-center">
          <div class="col-xs-12 col-sm-12 col-lg-6 mt-2 d-flex justify-content-center">
            <button type="button" name="button" class="btn btn-outline-light">ZOBACZ WIĘCEJ</button>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6 mt-2 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-light video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/jdRpBjhGx28?rel=0" data-target="#myModal">ZOBACZ REKLAMĘ TV</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always">></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 mt-5">
        <h1>NOWOŚĆ!</h1>
        <img src="../../images/line_white.png" class="img-fluid line" alt="line_white">
        <img src="../../images/packi_4sku.png" class="packi" alt="packi_4sku">
      </div>
    </div>
  </div>
</div>
