<div class="container-fluid waski pt-5 pb-3">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-4 d-flex align-items-center justify-content-center pr-0 mb-3">
        <i class="far fa-check-circle mr-3 check"></i>
        <span>BEZPŁATNA DOSTAWA</span>
      </div>
      <div class="col-12 col-sm-4 d-flex align-items-center justify-content-center pr-0 mb-3">
        <i class="far fa-check-circle mr-3 check"></i>
        <span>WYSYŁKA W 24H</span>
      </div>
      <div class="col-12 col-sm-4 d-flex align-items-center justify-content-center pr-0 mb-3">
        <i class="far fa-check-circle mr-3 check"></i>
        <span>ZWROT DO 21 DNI</span>
      </div>
    </div>
  </div>
</div>
