<div class="container-fluid pt-5 pb-3 prezentacja" id="prezentacja">
  <div class="container pt-3 pb-5">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="row">
          <h1>Prezentacja całej linii - zalety</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="row">
          <div class="col-6">
            <img src="../../images/loader.gif" data-src="../../images/img_blue.png" class="img-fluid display_detect" alt="img_blue">
          </div>
          <div class="col-6">
            <h2>Subheader</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center">
        <img src="../../images/loader.gif" data-src="../../images/packi_4sku.png" class="packi display_detect" alt="packi_4sku">
      </div>
    </div>
  </div>
</div>
