<div class="container-fluid pt-5 pb-3 produkt1" id="produkt1">
  <div class="container pt-4 pb-5">
    <div class="row">
      <div class="col-12 col-sm-6 circle">
        <div class="rounded-circle bg-white d-flex justify-content-center flex-column p-5 circle-left text-dark">
          <h3>CECHY</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <img src="../../images/loader.gif" data-src="../../images/krem.png" class="img-fluid produkt-right display_detect" alt="krem">
      </div>
      <div class="col-12 col-sm-6 d-flex justify-content-center flex-column">
        <h2>Subheader</h2>
        <h1>PRODUKT 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="row d-flex justify-content-start">
          <div class="col-12 col-sm-8 col-md-8 col-lg-4">
            <h3><span class=”item_price” data-sku=”9D3EYJXR”>00,00</span><small>zł</small></h3>
            <h1><span class=”item_price” data-sku=”9D3EYJXR”>00,00</span><small>zł</small></h1>
            <button class="btn btn-primary btn-lg btn-round open_add_to_cart" data-sku="9D3EYJXR" type="button" name="button">DO KOSZYKA</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
