<div class="container-fluid pt-5 pb-3 podsumowanie" id="3">
  <div class="container pt-3">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm-8 d-flex justify-content-center align-items-center flex-column">
        <h1>Podsumowanie / zalety</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <p class="font-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="col-xs-12 col-sm-6 d-flex justify-content-center align-items-center">
        <img src="../../images/line_white.png" class="img-fluid d-none d-lg-block mt-3" alt="line">
        <img src="../../images/loader.gif" data-src="../../images/packi_4sku.png" class="img-fluid scalex display_detect" alt="packi_4sku">
        <img src="../../images/line_white.png" class="img-fluid d-none d-lg-block mt-3 scalex" alt="line">
      </div>
      <div class="col-xs-6 col-sm-3">
        <p class="font-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>
