<!--Header1-->
<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light fixed-top header-one">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../images/logo.png" class="img-fluid" alt="esseliv-left"></a>
    <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
    </button>
    <div class="navbar-collapse display-flex float-right collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link smooth-scroll" href="#1">Powitalny<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#2">Dlaczego?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#3">Co wyróżnia?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#4">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#5">Podsumowanie</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--/.Header1-->
