<!--Header2-->
<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light fixed-top header-two" data-spy="affix">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../images/logo.png" class="img-fluid" alt="esseliv-left"></a>
    <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <div id="nav-icon1">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <div class="navbar-collapse display-flex float-right collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link smooth-scroll" href="#1">Powitalny<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#2">Prezentacja</a>
        </li>

        <li class="nav-item dropdown d-none d-lg-block">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produkty
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item smooth-scroll" href="#produkt1">Produkt 1</a>
          <a class="dropdown-item smooth-scroll" href="#produkt2">Produkt 2</a>
          <a class="dropdown-item smooth-scroll" href="#produkt3">Produkt 3</a>
          <a class="dropdown-item smooth-scroll" href="#produkt4">Produkt 4</a>
        </div>
        </li>
        
        <li class="nav-item d-md-none">
          <a class="nav-link smooth-scroll" href="#produkt1">Produkt 1</a>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link smooth-scroll" href="#produkt2">Produkt 2</a>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link smooth-scroll" href="#produkt3">Produkt 3</a>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link smooth-scroll" href="#produkt4">Produkt 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link smooth-scroll" href="#3">Podsumowanie</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!--/.Header2-->
